#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    pointer_auto_layer: pointer_auto_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <150>;
    };
};

&trackball_listener {
    /* base processor chain on all layers */
    input-processors = <
        &pointer_auto_layer 5 850
        &zip_xy_scaler 5 5
    >;
    /* when scroll layer (6) is active: trackball → scroll */
    scroller {
        layers = <6>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
    /* when slow layer (7) is active: same as base but lower scale = slower cursor */
    slow_pointer {
        layers = <7>;
        input-processors = <
            &pointer_auto_layer 5 850
            &zip_xy_scaler 5 12
        >;
    };
};